body {
  margin: 0;
  padding: 0;
  background-color: #191919;
  color: #fff;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  select {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
  }
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: limegreen;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: #86fb2c;
    }
  }
}
#executionBox {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  height: 80vh;
}
